.Student {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;

  transition: opacity 0.9s ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  color: #0070f3;
  text-decoration: none;
  font-weight: 500;
  
  &:hover {
    text-decoration: underline;
  }
}

.group {
  font-size: 14px;
  color: #666;
}

.--isDeleted {
  color: var(--color3);
  transition: color 0.5s ease;
  
  button {
    display: none;
  }
}

.--isNew {
  opacity: 0.5;
  
  
  button {
    display: none;
  }
}
